@use 'styles/components';
@use 'styles/colors';

.imageContainer {
  .image {
    max-width: 100%;
    margin: 0 auto 10px;
  }

  aside {
    font-size: 0.8rem;
    text-align: center;
  }
}

.location {
  font-size: 0.8rem;
}
