@use 'styles/components';
@use 'styles/colors';

.image {
  display: flex;
  justify-content: center;

  aside {
    font-size: 0.8rem;
    text-align: center;
  }
}

.location {
  font-size: 0.8rem;
}
